.mature-leads-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: #ffffff;
  background-color: #1ac414;
}
.mature-leads-header p {
  font-size: 1.2rem;
}
.table {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto 0 5rem;
  padding: 2rem 0;
}
.table div:last-child {
  border-bottom: 1px solid #bbb5b5;
}
.table div:first-child {
  font-weight: 700;
}
.table div {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  border: 1px solid #bbb5b5;
  padding: 1rem;
  border-bottom: none;
  align-items: center;
}
.table div p {
  font-size: 1.2rem;
  text-align: center;
}

.table div p:first-child {
  color: #2f75f7;
}
.table div:first-child p:first-child {
  color: #000;
}
.pagination {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto 0 5rem;
}
.pagination div {
  display: flex;
  gap: 1rem;
}
.pagination div p {
  padding: 1rem;
  border: 1px solid #2f75f7;
}
.pagination div p:nth-child(2) {
  color: #fff;
  background: #2f75f7;
}
.pagination div p:hover {
  color: #fff;
  background: #2f75f7;
  cursor: pointer;
}
.pagination p {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .table {
    width: 100%;
    margin: 0 auto;
  }
  .table div p {
    font-size: 0.6rem;
  }
}
