.header {
  background-color: #2f75f7;
}
.header-info {
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.header-info p {
  font-size: 1.2rem;
}
