.container {
  margin: 2rem 0 0 5rem;
  width: 80%;
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.1);
}
.table {
  width: 60%;
  margin: 0 auto 0 5rem;
  padding: 2rem 0;
}
.table div {
  display: flex;
  gap: 1rem;
  border: 1px solid #bbb5b5;
  padding: 1rem 0;
  border-bottom: none;
}
.table div:last-child {
  border-bottom: 1px solid #bbb5b5;
}
.table div:first-child {
  font-weight: 700;
}
.table div p {
  font-size: 1.2rem;
  width: 25%;
  text-align: center;
}
.table div p:first-child {
  color: #2f75f7;
}
.table div:first-child p:first-child {
  color: #000;
}
