.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  height: 80vh;
  width: 80%;
  border-radius: 4px;
}
.modal-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0 2rem 0;
  margin: 0 auto;
  border-bottom: 1px solid #bbb5b5;
  width: 90%;
}
.faqs-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #ffffff;
  padding: 2rem 0;
  width: 90%;
  margin: 0 auto;
}
.faqs-list li {
  background-color: #2f75f7;
  cursor: pointer;
  border-radius: 4px;
}
.faqs-list li p {
  font-size: 1.2rem;
}
.faq {
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ans {
  padding: 0.6rem;
  color: #000000;
  background-color: #ffffff;
  cursor: default;
  box-shadow: 0px 2.5px 2.5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  font-size: 1.2rem;
}
.filter-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.filter {
  display: flex;
  width: 30%;
  padding-top: 2rem;
  gap: 2rem;
}
.filter input {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid #868282;
  border-radius: 6px;
}
.filter input,
.filter select {
  font-size: 1.2rem;
}
