.table {
  margin: 2rem auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
.table div {
  padding: 1rem;
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid #bbb5b5;
  align-items: center;
  border-bottom: none;
}
.table div p:nth-child(2) {
  color: blue;
  text-decoration: underline;
}
.table div:first-child p:nth-child(2) {
  color: #000;
  text-decoration:none;
}
.table div:first-child p {
  font-weight: 700;
}
.table div:last-child {
  border-bottom: 1px solid #bbb5b5;
}
.table div {
  width: 100%;
}
.table div p {
  width: 100%;
  overflow: auto;
}
@media screen and (max-width: 768px) {
  .table div p {
    font-size: 0.6rem;
  }
}
